<div *ngFor="let product of products" class="card mb-3">
  <div class="row">
    <div class="col-3">
      <img
        src="/assets/images/{{ product.imgUrl }}"
        alt=""
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-9">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">
          {{ product.description }}
        </p>
      </div>
    </div>
  </div>
</div>
<ul>
  <li *ngFor="let p of productList">
    {{ p }}
  </li>
</ul>
